.container-div {
  // padding-right: 15px;
  // padding-left: 15px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  gap: 16px;
}

@media (max-width: 991px) {
  .container-div {
    width: 600px;
    display: grid;
    gap: 30px;
    grid-template-columns: auto 1fr;
  }
}
@media (max-width: 613px) {
  .container-div {
    width: 400px;
    display: grid;
    padding: 0;
    gap: 0;
    grid-template-columns: auto 1fr;
  }
}

@media (min-width: 992px) {
  .container-div {
    width: 970px;
    display: grid;
    grid-template-columns: auto 2fr 1fr;
  }
}

@media (min-width: 1200px) {
  .container-div {
    width: 1200px;
  }
}
