<div class="row">
  <div class="col-12">
    <section class="header">
      <i class="pi pi-arrow-left"></i>
      <div class="user-info">
        <h2>User Name</h2>
        <span class="posts">0 posts</span>
      </div>
    </section>
  </div>
  <div class="col-12 profile-info">
    <div class="img-upper-side"></div>
    <div class="profile-image"></div>
    <div class="img-bottom-side">
      <section class="user-details">
        <h5>User Name</h5>
        <p>name</p>
        <p class="mt-1">
          <i class="pi pi-calendar"></i>
          Joined {{ date | date : "mm yy" }}
        </p>
      </section>
    </div>
  </div>
  <div class="follow">
    <a><span>0</span> Following </a>
    <a><span>1</span> Following </a>
  </div>
  <ul class="links mt-2">
    <li><a>Posts</a></li>
    <li><a>Replies</a></li>
    <li><a>Media</a></li>
    <li><a>Links</a></li>
  </ul>
</div>
