<section class="notifications-menu py-3">
  <div class="row">
    <div class="col-12 d-flex justify-content-between aling-items-center">
      <h5
        style="
          color: rgb(231, 233, 234);
          font-size: 20px;
          line-height: 24px;
          font-weight: 700;
        "
      >
        Notifications
      </h5>
      <i class="pi pi-cog"></i>
    </div>
    <div class="col-12">
      <div class="row">
        <ul
          class="my-3 text-center list-unstyled d-flex justify-content-between aling-items-center"
        >
          <li routerLinkActive="active">
            <a class="active" routerLink="notifications/all">All</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="notifications/verified" routerLinkActive="active"
              >Verified</a
            >
          </li>
          <li routerLinkActive="active">
            <a routerLink="notifications/mentions">Mentions</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <section class="notifications py-3">
    @if(notificationCount===0){
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1
            style="
              font-weight: 800;
              color: #e7e9ea;
              font-size: 31px;
              line-height: 36px;
            "
          >
            Nothing to see here — <br />
            yet
          </h1>
          <p
            style="
              font-weight: 400;
              color: #71767b;
              font-size: 15px;
              line-height: 20px;
            "
          >
            From likes to reposts and a whole lot more, this is where all the
            action happens.
          </p>
        </div>
      </div>
    </div>
    }
    <router-outlet></router-outlet>
  </section>
</section>
