//   background-color: #2e2d2d;

.sidebar-wrapper {
  position: sticky;
  right: 0;
  top: 0;
  .p-inputtext {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    position: relative;
  }

  a {
    display: flex;
    padding: 10px;
  }

  .sub {
    border: 1px solid #2e2d2d;
    // background-color: #2e2d2d;
    padding: 15px;
  }

  @media (max-width: 768px) {
    .row {
      display: none;
      // opacity: 0;
    }
    .sidebar-wrapper {
      display: none;
    }
  }
}

@media (min-width: 760px), (max-width: 993px) {
  .sidebar-wrapper {
    display: none;
  }
}
@media (max-width: 760px) {
  .sidebar-wrapper {
    display: none;
  }
}
@media (min-width: 993px) {
  .sidebar-wrapper {
    display: inline-block;
  }
}

input {
  height: 35px;
  background-color: transparent;
  color: var(surface-600);
  border: 0;

  &:focus,
  &:active {
    border: 0;
    outline: none;
  }
}
