<div class="sidebar-wrapper">
  <div class="row">
    <div class="col-12">
      <input pInputText placeholder="Username" />
    </div>
  </div>
  <div class="row px-3">
    <div class="col-12 sub mt-3 rounded-4">
      <h1>Subscribe to Premium</h1>
      <p>
        Subscribe to unlock new features and if eligible, receive a share of ads
        revenue.
      </p>
      <button
        style="
          background-color: rgb(29, 155, 240);
          font-weight: bold;
          line-height: 20px;
          font-size: 15px;
          max-width: 100%;
          word-wrap: break-word;
          overflow: hidden;
        "
        class="btn btn-primary rounded-5"
      >
        Subscribe
      </button>
    </div>
  </div>
  <div class="row px-3">
    <div class="col-12 mt-3 sub rounded-4">
      <h1
        class="mb-3 d"
        style="
          color: #e7e9ea;
          font-size: 20px;
          font-weight: 800;
          line-height: 24px;
        "
      >
        What’s happening
      </h1>
      <section class="trending">
        <a class="trend-event">I'm a big event </a>
      </section>
    </div>
  </div>
  <div class="row px-3">
    <div class="col-12 mt-3 d-flex sub rounded-4">
      <a>Links</a>
      <a>Links</a>
      <a>Links</a>
      <a>Links</a>
      <a>Links</a>
    </div>
  </div>
</div>
