<div class="sidebar-wrapper">
  <div class="row px-3 mt-2 mb-2">
    <p-iconField
      iconPosition="left"
      style="
        background-color: rgb(77, 79, 80, 0.4);
        width: fit-content;
        padding: 0;
        border-radius: 50px;
      "
    >
      <p-inputIcon styleClass="pi pi-search" />
      <input type="text" class="me-2" pInputText />
    </p-iconField>
    <!-- <div
      class="col-12 mt-2"
      style="
        display: flex;
        background-color: rgb(77, 79, 80, 0.4);
        border-radius: 20px;
        width: 290px;
        margin-bottom: 12px;
        height: 35px;
      "
    >
      <i
        style="
          width: 25px;
          font-size: 1em;
          color: #b8b8b8;
          margin-top: 10px;
          margin-left: 10px;
        "
        class="pi pi-search"
      ></i>
      <input style="" />
    </div> -->
  </div>
  <div class="row px-3">
    <div class="col-12 sub rounded-4">
      <h1>Subscribe to Premium</h1>
      <p>
        Subscribe to unlock new features and if eligible, receive a share of ads
        revenue.
      </p>
      <button
        style="
          background-color: rgb(29, 155, 240);
          font-weight: bold;
          line-height: 20px;
          font-size: 15px;
          max-width: 100%;
          word-wrap: break-word;
          overflow: hidden;
        "
        class="btn btn-primary rounded-5"
      >
        Subscribe
      </button>
    </div>
  </div>
  <div class="row px-3">
    <div class="col-12 mt-3 sub rounded-4">
      <h1
        class="mb-3 d"
        style="
          color: #e7e9ea;
          font-size: 20px;
          font-weight: 800;
          line-height: 24px;
        "
      >
        What’s happening
      </h1>
      <section class="trending">
        <a class="trend-event">I'm a big event </a>
      </section>
    </div>
  </div>
  <div class="row px-3">
    <div class="col-12 mt-3 d-flex sub rounded-4">
      <a>Links</a>
      <a>Links</a>
      <a>Links</a>
      <a>Links</a>
      <a>Links</a>
    </div>
  </div>
</div>
