<div class="sidebar-wrapper">
  <div class="logo">
    <img class="img-fluid" src="../../../assets/x-logo.png" alt="" />
  </div>
  <ul class="links">
    <li>
      <a routerLink="/home">
        <i class="pi pi-home"></i>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a>
        <i class="pi pi-search"></i>
        <span>Explore</span>
      </a>
    </li>

    <li>
      <a>
        <i class="pi pi-bell"></i>
        <span>Notifications</span>
      </a>
    </li>
    <li>
      <a>
        <i class="pi pi-envelope"></i>
        <span> Messages</span>
      </a>
    </li>

    <li>
      <a>
        <i class="pi pi-users"></i>
        <span> Communities </span>
      </a>
    </li>

    <li>
      <a (click)="navToProfile()">
        <i class="pi pi-user"></i>
        <span> Profile </span>
      </a>
    </li>
    <li>
      <a>
        <i class="pi pi-ellipsis-h"></i>
        <span> More </span>
      </a>
    </li>
  </ul>
  <a class="btn btn-primary align-itmes-center post-a">
    <svg
      viewBox="0 0 24 24"
      aria-hidden="true"
      class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-lrvibr r-m6rgpd r-1wron08 r-1472mwg r-lrsllp"
      style="color: rgb(255, 255, 255)"
    >
      <g>
        <path
          d="M23 3c-6.62-.1-10.38 2.421-13.05 6.03C7.29 12.61 6 17.331 6 22h2c0-1.007.07-2.012.19-3H12c4.1 0 7.48-3.082 7.94-7.054C22.79 10.147 23.17 6.359 23 3zm-7 8h-1.5v2H16c.63-.016 1.2-.08 1.72-.188C16.95 15.24 14.68 17 12 17H8.55c.57-2.512 1.57-4.851 3-6.78 2.16-2.912 5.29-4.911 9.45-5.187C20.95 8.079 19.9 11 16 11zM4 9V6H1V4h3V1h2v3h3v2H6v3H4z"
        ></path>
      </g>
    </svg>
    <span class="post">Post</span>
  </a>
  <!--
  !USER INFO BUTTON DETAILS
  -->
  <section
    class="mini-details-section py-4 border-0 drpdown dropdown-toggle"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
    </ul>
    <div class="logo me-3">
      <span>
        {{ userLogo }}
      </span>
    </div>
    <div class="user-info">
      <span>
        <small class="fw-bold d-block" style="color: white">{{
          userName
        }}</small>
        <small style="color: #b8b8b8">{{ name }}</small>
      </span>
    </div>
    <div class="icon">
      <i class="pi pi-ellipsis-h ms-3"></i>
    </div>
  </section>
</div>
