$main-transition: 0.3s;
$border-radius: 15px;
$link-font-size: 20px;
$link-font-weight: 400;

.sidebar-wrapper {
  padding: 0;
  margin: 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: sticky;
  height: 100vh;
  padding-left: 10px;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: rgb(62, 65, 68); /* Background color of the track */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
    border: 3px solid rgb(62, 65, 68); /* Padding around the scrollbar thumb */
  }
  ::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: rgb(62, 65, 68); /* Background color of the track */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
    border: 3px solid rgb(62, 65, 68); /* Padding around the scrollbar thumb */
  }
  //*  ////////////////////////////

  .logo {
    padding: 15px 0 10px 8px;
    margin-left: 0px;
    img {
      width: 25px;
      max-width: 100%;
    }
  }

  .links {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: block;
      margin-bottom: 5px;
      width: fit-content;
      transition: 0.2s;
      font-weight: 400;
      font-size: $link-font-size;
      border-radius: 10px;
      line-height: 24px;

      a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
        padding: 15px 10px;
        border-radius: $border-radius;
        font-weight: $link-font-weight;
        font-size: $link-font-size;
        transition: $main-transition;

        i {
          margin-right: 20px;
          font-size: $link-font-size;
          font-weight: $link-font-weight;
          transition: $main-transition;
        }
      }

      &:hover a {
        background-color: rgba(46, 45, 45, 0.5);
        color: white;
      }
    }
  }
  a.post-a {
    margin-bottom: 10px;
    width: 70%;
    overflow: hidden;
    padding: 10px 15px;
    background-color: rgb(29, 155, 240);
    transition-duration: 0.2s;
    min-width: 52px;
    min-height: 42px;
    cursor: pointer;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    color: white;
    font-weight: bold;
    .r-4qtqp9 {
      width: 20px;
    }
  }
}

.mini-details-section {
  height: 50px;
  margin-top: auto;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  border-radius: 100px;
  place-content: center;
  border: 10px solid rgb(255, 255, 255);
  margin-bottom: 10px;
  .logo {
    position: relative;
    background-color: #00897b;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-weight: bold;
    margin-left: 1px;
    span {
      position: absolute;
      max-width: 100%;
      margin: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }
}

.dropdown-menu,
.dropdown-item {
  background-color: black;
  color: white;
  font: {
    size: 18px;
    font-weight: 500;
  }
  z-index: 999;
}
.dropdown-menu {
  border: 1px solid rgb(238, 238, 238, 0.2);
}

.dropdown-toggle::after {
  display: none;
}

@media (min-width: 1200px) {
  .post-a {
    margin-top: 15px;
  }
  section.mini-details-section:hover {
    background-color: rgb(238, 238, 238, 0.1);
  }
}
@media (min-width: 1200px) {
  .post-a {
    .r-4qtqp9 {
      display: none;
      margin: 0;
      padding: 0;
    }
  }
}

@media (max-width: 1200px) {
  .links {
    a span,
    button .btn,
    button {
      display: none;
      opacity: 0;
    }
  }

  .links li a:hover {
    background-color: transparent;
    color: inherit;

    i {
      margin-right: 0 !important;
    }

    span {
      display: none;
    }
  }
  .post-a {
    width: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: -3px;
    span {
      display: none;
    }
  }
  .user-info,
  .icon {
    display: none;
  }
}

@media (max-width: 6660px) {
  .dropdown-menu {
    left: 0;
    padding: 5px 0;
    margin: 0;
    width: fit-content;
    .dropdown-item {
      font-size: 15px;
      font-weight: 100;
      margin: 0;
      padding: 5px;
    }
  }
}
