@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/md-dark-indigo/theme.css";
// @import "/node_modules/normalize.css/normalize.css";
body {
  box-sizing: border-box;
  font-family: "Segoe UI", "Tahoma", "Roboto", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
  // height: 100vh;
}
* {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.container-div {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.p-inputtext {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings, normal);
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.87);
  background: black;
  padding: 1rem 1rem;
  //border: 1px solid rgba(255, 255, 255, 0.3);
  transition: background-color 0.2s, border-color 0.2s, color 0.2s,
    box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  appearance: none;
  border-radius: 4px;
  width: 18rem;
  -webkit-transition: background-color 0.2s, border-color 0.2s, color 0.2s,
    box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: background-color 0.2s, border-color 0.2s, color 0.2s,
    box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  -ms-transition: background-color 0.2s, border-color 0.2s, color 0.2s,
    box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: background-color 0.2s, border-color 0.2s, color 0.2s,
    box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.p-password-input {
  background-color: black;
  width: 18rem;
}

.p-dialog .p-dialog-content {
  background: black;
  color: rgba(255, 255, 255, 0.87);
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.p-dialog .p-dialog-header {
  border-bottom: 0 none;
  background: black;
  color: rgba(255, 255, 255, 0.87);
  // padding: 1.5rem;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.profile {
  .p-dialog .p-dialog-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    margin-top: -37px !important;
    left: 0;
    z-index: 3;
    top: 40px;
  }

  .p-dialog .p-dialog-header {
    padding-bottom: 35px;
    span {
      left: 65px;
      z-index: 3;
      top: 12px;
      position: absolute;
    }
  }

  .btn-sm {
    position: absolute;
    right: 20px;
    z-index: 3;
    top: 12px;
  }

  .p-float-label {
    display: block;
    position: relative;
    margin-bottom: 15px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-toast {
  position: fixed;
  width: 25rem;
  height: 1rem;
  padding: 0;
}

.posts {
  p-dialog .p-dialog-header {
    padding: 0;
    margin: 0;
  }
}
textarea.posts {
  background-color: black;
  width: 100%;
  padding: 40px;
  border: 0;
  width: 100%;
  margin-left: -20px;
  box-sizing: border-box; /* ensures padding and border are included in the width */
  resize: none; /* prevents the user from resizing the textarea */
  overflow-wrap: break-word; /* ensures words will break to the next line */
  &:focus {
    outline: none;
    border: 0;
  }
  &::placeholder {
    color: #e7e9ea;
    opacity: 2;
    line-height: 24px;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none solid rgb(231, 233, 234);
  }
}
