<div class="container-fluid">
  <div class="row offset-2 mt-2">
    <div class="col-12 col-md-4 d-flex align-items-center">
      <img style="max-width: 100%" src="../../../assets/x-logo.png" alt="" />
    </div>
    <div class="col-12 col-md-8 d-flex justify-content-center">
      <div class="register">
        <h1 class="mb-5">Happening now</h1>
        <p class="mb-3">Join today.</p>
        <section class="links">
          <a class="mb-3">
            <span class="d-flex;align-items-center"
              ><i class="pi pi-google me-2"></i>Sign up with Google</span
            ></a
          >
          <a class="mb-1">
            <span class="d-flex;aling-items-center"
              ><i class="pi pi-apple me-2"></i>
              Sign up with Apple
            </span>
          </a>
          <a class="line"><span class="line">or</span></a>
          <a
            (click)="showDialog()"
            aria-hidden="true"
            class="mb-3 signup"
            style="background-color: #1d9bf0 !important; color: white"
          >
            <span class="d-flex;aling-items-center"> Create account</span>
          </a>
          <!--Start Dialog -->
          <p-dialog
            [modal]="true"
            header="Create your account"
            [(visible)]="visible"
            [style]="{ width: '30rem' }"
            [breakpoints]="{ '921px': '75vw', '575px': '90vw' }"
          >
            <form #form="ngForm" class="offset-2" (ngSubmit)="onSubmit(form)">
              <div
                *ngIf="!login"
                class="mt-2 d-flex"
                styleClass="dialog-content"
              >
                <p-floatLabel class="mb-3">
                  <input
                    pInputText
                    name="name"
                    id="name"
                    ngModel
                    minlength="1"
                    maxlength="20"
                    required
                  />
                  <label for="name">Name</label>
                </p-floatLabel>
              </div>
              <div class="mt-2 d-flex" styleClass="dialog-content">
                <p-floatLabel class="mb-3">
                  <input
                    pInputText
                    name="username"
                    id="username"
                    minlength="3"
                    maxlength="20"
                    ngModel
                    required
                  />
                  <label for="username">User Name</label>
                </p-floatLabel>
              </div>
              <div class="mt-2 mb-3 d-flex" styleClass="dialog-content">
                <p-floatLabel>
                  <p-password
                    [toggleMask]="true"
                    ngModel
                    [feedback]="false"
                    name="password"
                    minlength="8"
                    required=""
                  />
                  <label for="password">Password</label>
                </p-floatLabel>
              </div>
              <button
                style="display: block; width: 18rem"
                type="submit"
                class="mb-3 btn btn-light"
              >
                {{ login ? " Log in" : "sing up" }}
              </button>
              <button
                style="display: block; width: 18rem"
                (click)="toggleRM()"
                type="button"
                class="btn btn-light"
              >
                {{ login ? " Switch to sign up" : "Switch to sign in" }}
              </button>
            </form>
          </p-dialog>

          <!--End Dialog -->
          <small>
            By signing up, you agree to the Terms of Service and Privacy
            Policy,<br />
            including Cookie Use
          </small>
          <h5 class="mt-5 mb-3">Already have an account?</h5>
          <a class="mb-3 signin" (click)="showDialog()">
            <span class="d-flex;aling-items-center"
              ><i class="pi pi-google me-2"></i> Sign in</span
            >
          </a>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- <mat-icon class="mat-18">ligature</mat-icon> -->
